In [2]:
def sarthak():
    """
    my name is sarthak
    """

In [5]:
sarthak.__doc__

'\n    my name is sarthak\n    '

In [7]:
3^3 #xor

0

In [ ]:
BITWISE :- work on bits

In [8]:
10 & 11

10

In [10]:
10 | 11

11

In [ ]:
# number // 2**bit      (right shift) 

# number * 2**bit       (left shift)

In [ ]:
# bitwise xor op 
# namespace in python 
# compiler vs interpreter vs encoder

In [13]:
x =10 
y = 13.5 


if type(x) == int and type(y) == int:
    print(x+y) 
else:
    print("both the num are not int")

both the num are not int

In [ ]:
# take 3 input and identify minimum 

# take a string as input take another smaller string  

# take a chr from user and identify if it is not vovles   

# take a input from a user and perform following tasks 

    # 1 print date 
    # 2 create folder on desktop 
    # 3 check all the files present on desktop 
    # 4 message on wattsapp

In [24]:
"question 1" 

nums = list(map(int,input("enter numbers").split())) 

min(nums)

enter numbers23 4 67

4

In [16]:
string1 = input("enter string 1") 

string2 = input("enter string 2") 

if string2 in string1:
    print(True) 
else:
    print(False)

enter string 1sarthak
enter string 2sar
True

In [19]:
vov = ["a","e","i","o","u","A","E","I","O","U"] 

ch = input("enter chr") 

if ch in vov:
    print(True) 
else:
    print(False)

enter chrt
False

In [6]:
from datetime import date 
import os  
import pywhatkit
import pyautogui
import time
import cv2 
from pynput.keyboard import Key, Controller


keyboard = Controller()

print("press 1 to see date") 
print("press 2 to create folder") 
print("press 3 to see all the folders")
print("press 4 to send msg throught wattsapp")

choice = int(input("enter choice "))

def operation(choice):
    
    if choice == 1:
        return date.today()  
    
    if choice == 2:
        directory = input("enter folder name")
        parent_dir = r"C:\Users\Sarthak Singh\OneDrive\Documents\coding prog" 
        path = os.path.join(parent_dir,directory)
        
        return os.mkdir(path) 
    
    if choice == 3:
        parent_dir = r"C:\Users\Sarthak Singh\OneDrive\Documents\coding prog" 
        return os.listdir(parent_dir)
    
    if choice == 4:
      
        pywhatkit.sendwhatmsg_instantly(
            phone_no = "<+918112215866>",
            message= input("enter msg")
         
        )
        pyautogui.click() 
        keyboard.press(Key.enter) 
        keyboard.release(Key.enter)
        
    if choice == 5:
        
    
operation(choice)

press 1 to see date
press 2 to create folder
press 3 to see all the folders
press 4 to send msg throught wattsapp
enter choice 4
enter msgf

# day 3

In [11]:
lis = list(map(int,input("enter number").split()))
lis

enter number1 2 3 4 5

[1, 2, 3, 4, 5]

In [20]:
#ques 1

nums = list(map(int,input("enter numbers").split())) 
sum(nums)

enter numbers1 2 3

6

In [21]:
#ques 2 

sentence = input("enter sentence")  

sentence = sentence.split() 

len(sentence)

enter sentencethis is our class

4

In [23]:
# ques 3 

nums = list(map(int,input("enter numbers").split())) 

print(min(nums)) 
print(max(nums))

enter numbers134 56 78 1
1
134

In [26]:
# ques 4 

nums = [i for i in range(1,101)] 

odds = [i*i for i in nums if i%2 != 0]  
even = [i**3 for i in nums if i%2 == 0] 

print(odds) 
print(even)
print("___________________________")
print(len(odds)) 
print(len(even))

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401, 2601, 2809, 3025, 3249, 3481, 3721, 3969, 4225, 4489, 4761, 5041, 5329, 5625, 5929, 6241, 6561, 6889, 7225, 7569, 7921, 8281, 8649, 9025, 9409, 9801]
[8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000, 10648, 13824, 17576, 21952, 27000, 32768, 39304, 46656, 54872, 64000, 74088, 85184, 97336, 110592, 125000, 140608, 157464, 175616, 195112, 216000, 238328, 262144, 287496, 314432, 343000, 373248, 405224, 438976, 474552, 512000, 551368, 592704, 636056, 681472, 729000, 778688, 830584, 884736, 941192, 1000000]
___________________________
50
50

In [27]:
sentences =  [input("enter sentence") for _ in range(5)]

enter sentencemy name is sarthak
enter sentencemy friend name is hemant
enter sentencemy other friend name is om
enter sentencei live in jaipur
enter sentencei love python

In [31]:
words = input("enter word to be searched") 

for i in sentences:
    if words in i:
        print("true") 
    else:
        print("false")

enter word to be searchedsarthak
true
false
false
false
false

In [ ]:
#homework 

# take list make new list of prime numbers 
# take list make new (list [0] == [-1]) 
# listcomp (perfect square) 
# palindrom nums from list 
# reverse words

In [5]:
n = int(input("enter range"))

prime = [True for i in range(n+1)] 

prime[0] = False 
prime[1] = False 

i = 2 
while(i<=n):
    
    if prime[i] == True:
        for j in range(i*i,n,i):
            prime[j] = False 
            
    i = i+1 
    
prime_no = [i for i in range(len(prime)) if prime[i] == True] 

prime_no

enter range100

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 100]

In [12]:
words = input("enter words").split() 

ans = [i for i in words if i[0] == i[-1]] 

ans

enter wordsamarica china ohio delhi

['amarica', 'ohio']

In [15]:
import math

n = int(input("enter the range")) 

nums = [i for i in range(n+1) if math.sqrt(i) == int(math.sqrt(i))]

nums

enter the range100

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
words = input("enter words").split() 

ans = [i for i in words if i == i[::-1]] 

ans

enter wordscar civic level arm hole rotor mad mind kayak

['civic', 'level', 'rotor', 'kayak']

In [17]:
words = input("enter words").split() 

words[:] = [i[::-1] for i in words] 

words

enter wordsamarica india rajasthan iran peru java indonesia china

['acirama', 'aidni', 'nahtsajar', 'nari', 'urep', 'avaj', 'aisenodni', 'anihc']

# DAY 4

In [4]:
sum([i for i in range(1,101) if i%2 == 0])

2550

In [10]:
mul = 1

for i in range(1,11):
    mul = mul*i 
    
mul

3628800

In [1]:
ans = 1
def factorial(num,ans):
    if num == 1:
        return ans
    else:
        ans = ans*num
        return factorial(num-1,ans) 
    
factorial(5,ans)

120

In [8]:
string = input("enter string") 

ans = set()

for i in string:
    if i in ["a","e","i","o","u","A","E","I","O","U"]:
        ans.add(i) 
        
count = 0 
for i in (list(ans)):
    count = count+1 
    
count

enter stringmy name is sarthak

3

In [5]:
nums = list(map(int,input("enter numbers").split())) 

sum(nums)/len(nums)

enter numbers1 5 7 3 9 5

5.0

In [6]:
n = int(input("enter numbers")) 

table = [n*i for i in range(1,11)] 

table

enter numbers5

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
"""
* 
** 
***
****


"""

In [3]:
for i in range(10):
    for j in range(0,i):
        print("*",end = " ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

* * * * * * * *

* * * * * * * * *

In [5]:
n = input("enter input  -> ") 

ord(n)

enter input  -> @

64

In [8]:
lis = list(map(int,input("enter the numbers ->  ").split())) 

palindromes = [i for i in lis if str(i) == str(i)[::-1]] 

total = [] 

for i in palindromes:
    count = 0
    for j in str(i):
        count = count+int(j) 
        
    total.append(count) 
    
total

enter the numbers ->  121 23 45 676 1221 1001 456 78

[4, 19, 6, 2]

In [4]:
menu = {"pizza":200,"burger":60,"cold coffee":23} 

order = input("enter order -> ") 

for i in menu:
    if i in menu:
        print(menu[i]) 
        break
    if i not in menu:
        print("select from valid menu")

enter order -> pizza
200

In [9]:
lis = (1,"sam","rahul",98.45)


lis = list(lis)
lis[1] = "subham"   

lis = tuple(lis)

lis

(1, 'subham', 'rahul', 98.45)

In [10]:
a = (1,2,3) 
b = (4,5,6) 

a+b

(1, 2, 3, 4, 5, 6)

# HOMEWORK

In [1]:
#question 1

tup1 = tuple(map(int,input("enter  the numbers").split())) 
tup2 = tuple(map(int,input("enter the numbers").split()))

def alternate(tup1,tup2):
    lis = []
    for i in range(len(tup1)):
        lis.append(tup1[i]) 
        lis.append(tup2[i]) 
        
    return tuple(lis)  

alternate(tup1,tup2)

enter  the numbers1 2 3
enter the numbers4 5 6

(1, 4, 2, 5, 3, 6)

In [6]:
#question 2

n = int(input("enter the number of student")) 

stu_data = []

for i in range(n):
    lis = [None]*4 
    for i in range(len(lis)):
        if i == 0:
            lis[0] = input("enter the name of student") 
        else:
            if i == 1:
                lis[1] = int(input("enter the math marks")) 
            if i == 2:
                lis[2] = int(input("enter the science marks")) 
            if i == 3:
                lis[3] = int(input("enter the hindi marks")) 
                
    stu_data.append(tuple(lis)) 
    
    
first_divison = [] 

def avg_marks(lis):
    
    avg = sum(lis[1:4])//3 
    if avg > 80:
        first_divison.append(lis) 
        
for i in stu_data:
    avg_marks(i) 
    
first_divison

enter the number of student3
enter the name of studentsarthak
enter the math marks89
enter the science marks78
enter the hindi marks67
enter the name of studenthemant
enter the math marks90
enter the science marks89
enter the hindi marks78
enter the name of studentsahil
enter the math marks90
enter the science marks12
enter the hindi marks10

[('hemant', 90, 89, 78)]

In [7]:
#question 3

words = input("enter words").split() 

def len_cal(lis):
    return {i:len(i) for i in lis} 

len_cal(words)

enter wordssarthak nikit hemant arpit mandeep sahil

{'sarthak': 7, 'nikit': 5, 'hemant': 6, 'arpit': 5, 'mandeep': 7, 'sahil': 5}

In [8]:
#question 10

words = input("enter words").split() 

def occurence(words):
    
    return {i:words.count(i) for i in words} 

occurence(words)

enter wordssarthak cat cat arpit nikit apple apple apple

{'sarthak': 1, 'cat': 2, 'arpit': 1, 'nikit': 1, 'apple': 3}

In [9]:
#question 9 

nums = list(map(int,input("enter the numbers").split())) 

def minmax(nums):
    return (min(nums),max(nums)) 

minmax(nums)

enter the numbers12 3 45 7 900

(3, 900)

In [10]:
# question 8  

n = int(input("enter number of items"))

items = [(input("enter name of item"),int(input("enter cost"))) for _ in range(n)] 

def total_cost(items):
    total = 0 
    for i in items:
        total = total+i[1] 
    return total 

total_cost(items)

enter number of items4
enter name of itemtv
enter cost2000
enter name of itemcar
enter cost5000
enter name of itemhat
enter cost5
enter name of itemhouse
enter cost40000

47005

In [11]:
# question 7

n = int(input("enter the number of student")) 

stu_data = []

for i in range(n):
    lis = [None]*4 
    for i in range(len(lis)):
        if i == 0:
            lis[0] = input("enter the name of student") 
        else:
            if i == 1:
                lis[1] = int(input("enter the math marks")) 
            if i == 2:
                lis[2] = int(input("enter the science marks")) 
            if i == 3:
                lis[3] = int(input("enter the hindi marks")) 
                
    stu_data.append(tuple(lis)) 
    
avg = []
    
def avg_marks(lis):
    avg.append((lis[0],sum(lis[1:4])//3)) 
    
for i in stu_data:
    avg_marks(i) 
    
avg

enter the number of student3
enter the name of studentsarthak
enter the math marks75
enter the science marks89
enter the hindi marks80
enter the name of studenthemant
enter the math marks67
enter the science marks78
enter the hindi marks89
enter the name of studentsahil
enter the math marks67
enter the science marks55
enter the hindi marks78

[('sarthak', 81), ('hemant', 78), ('sahil', 66)]

In [1]:
n  = int(input("enter number")) 

for i in range(1,10+1):
    
    print(f"{n} X {i} = {n*i}")

enter number5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [4]:
n = int(input('enter range')) 

nums = [i for i in range(1,n//2+1)] 

nums

enter range100

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [5]:
n = int(input("enter range")) 

for i in range(1,n+1):
    if i  > n//2:
        break 
    else:
        print(i)

enter range100
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [6]:
num = int(input("enter number")) 

total = 0 

for i in str(num):
    total = total+int(i) 
    
total

enter number537

15

In [7]:
num = int(input('enter number')) 


def checkprime(num):
    
    if num<2:
        return False 
    else:
        flag = 0
        for i in range(2,int(num**0.5+1)):
            if num%i == 0:
                flag = 1 
                break 
                
        if flag == 0:
            return True 
        else:
            return False 
        
checkprime(num)

enter number5

True

In [14]:
for i in range(65,91):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [18]:
num = 54324182 
dic = {} 

for i in str(num):
    if i  not in dic:
        dic[i] = 1 
    else:
        dic[i] = dic[i]+1

{'5': 1, '4': 2, '3': 1, '2': 2, '1': 1, '8': 1}

In [1]:
s = "Mohit" 

for i in range(len(s)):
    print(s[i])

M
o
h
i
t

In [6]:
for i in range(len(s)):
    if(i%2 == 0):
        print(s[i])

M
h
t

In [8]:
s = 'mohit' 
vov = "AEIOUaeiou" 

count = 0 

for i in s:
    if i in vov:
        count = count+1 
        
count

2

In [2]:
s = "moheeoi" 

vov = "AEIOUaeiou" 

indx = [i for i in range(len(s)) if s[i] in vov] 

stack = [indx[0]] 
count = 0
for i in range(1,len(indx)): 
    if indx[i] - stack[-1] == 1:
        count = count+1 
    if indx[i] - stack[-1] != 1:
        stack.pop(-1)  
        stack.append(indx[i]) 
        
print(count)

2

In [ ]:
# password checker  
# message bomber

In [4]:

def password():
    
    code = input("enter password") 
    flag = 0 
    
    for i in code:
        if ord(i) in range(65,91):
            flag = flag+1 
            break 
            
    for i in code:
        if ord(i) in range(32,48):
            flag = flag+1 
            break
            
    for i in code:
        if ord(i) in range(48,58):
            flag = flag+1
            break
            
    if len(code)>=10:
        flag = flag+1 
   
        
    if flag == 4:
        return code 
    else:
        print("weak password recreate password") 
        return password() 
    
    
password()

enter passwordA#234hkf
weak password recreate password
enter passwordA#gjtuig678

'A#gjtuig678'

In [4]:
import pywhatkit as pwk 

count = 0

while(count<2):
    pwk.sendwhatmsg_instantly(
        phone_no = "<+916367534025>", 
        message = "hi",2,tab_close = True
    )
    count = count+1

SyntaxError: positional argument follows keyword argument (3426820734.py, line 9)

In [14]:
for i in range(0,5):
    for j in range(0,5):
        print("*",end=" ") 
    print("\n")

* * * * *

* * * * *

* * * * *

* * * * *

* * * * *

In [40]:
for i in range(10,-1,-1):
    for k in range(10,i,-1):
        print(" ",end="")     
    for j in range(0,i+1):
        print("*",end = " ") 
    print("\t")

* * * * * * * * * * *
 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [48]:
for i in range(5):
    for j in range(5):
        if i == 0 or i == 4 or i == 2:
            for k in range(5):
                print("*",end=" ")
                break
        else:
            if j == 0 and i<2:
                print("*",end=" ")
            elif j == 4 and i>=2:
                print("*",end=" ") 
            else:
                print(" ",end=" ")
    print("\t")

* * * * *
*
* * * * *
        *
* * * * *

In [ ]:
for i in range(5)